
* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

*:not(a) {
    color: black;
}

body {
    background-color: #EBEBCE;
}

h1,
h2,
h3,
p,
div {
    background-color: rgb(232, 161, 12);
    border: 5px double black;
    padding: 5px 10px;
    margin: 10px auto;
}

.navbar {
    width: 1200px;
}

h1.home {
    width: 280px;
}

h1.tofudoner {
    width: 10.6em;
}

h2 {
    width: 10.6em;
    text-align: center;
}

.methodheader,
.ingredientsheader {
    width: 10em;
    text-align: center;
}

h1.rockyroad {
    width: 7em;
}

h1.macncheese {
    width: 12.35em;
}

#tagline {
    display: block;
    padding: 5px 0px;
    text-align: center;
}

.home.main {
    height: 100em;
    width: 1200px;
}


/* LISTS */

.recipe_link_list {
    margin-top: 2em;
}

.recipe_link_list li {
    list-style-type: '> ';
    margin: 10px 0px;
}

ul {
    list-style-type: square;
}

ul,
ol {
    list-style-position: inside;
}


/* LINKS */

a:visited {
    color: #3B1FA6;
}

a {
    color: #0020B3;   
}

.homelink {
    color: black;
    font-weight: 800;
}

.homelink:visited {
    color: unset;
}

.homelink:hover,
a:hover {
    color: #09B4EB;
}


/* IMAGES */

img.tofudoner,
img.rockyroad,
img.macncheese {
    width: 400px;
    height: auto;
    display:block;
    margin:auto;
    background-color: rgb(232, 161, 12);
    border: 5px double black;
    padding: 10px 10px;
}

img.macncheese {
    padding-bottom: 40px;
}

.creditline {
    background-color: unset;
    border: 0px;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 20px
}