* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    background-color: #EBEBCE;
}

*:not(a) {
    color: black;
}

.home_h1_top {
    background-color: rgb(232, 161, 12);
    border: 5px double black;
    padding: 5px 10px;
    width: 280px;
    margin: auto;
}

.recipe_link_list {
    list-style-type: square;
}
