/* universal properties */

* {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

*:not(a) {
    color: black;
}

body {
    background-color: #EBEBCE;
}

h1,
h2,
h3,
p,
ul,
ol,
#tagline {
    background-color: rgb(232, 161, 12);
    border: 5px double black;
    padding: 5px 10px;
    margin: 10px auto;
}

h1.home {
    width: 280px;
}

h1.tofudoner {
    width: 10.6em;
}

h1.rockyroad{
    width: 7em;
}

h1.macncheese {
    width: 12.35em;
}

.recipe_link_list li {
    list-style-type: '> ';
}

ul {
    list-style-type: square;
}

ul,
ol {
    list-style-position: inside;
}